/*
1. Posicionamiento
2. Modelo caja (Box model)
3. Tipografia
4. Visuales
5. Miscelaneas (Otros)
*/
:root{
   /*Implementamos las variables. Colores*/
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%; /*Hacer uso de rem en la fuente 1rem = 10px*/
    font-family: 'DM Sans', sans-serif;
}

header{
    position: relative; /*todo es “static” de forma predeterminada, así que para “posicionarlo” debe ser “relative”*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; 
    min-width: 320px; /*El width no se hará mas chico de 320px*/
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center; /*Como estamos usando flex esta es la manera de centrar un elemento que tenga un contenedor con flex */
}

.header--title-container{
    width: 90%;
    min-width: 288px; /*El width estará un 90% entre 288 y 900 px. No se hará mas chico despues 288px */
    max-width: 900px; /*Dejará de crecer cuando llega a los 900px*/
    height: 218px;
    margin-top: 40px; /*Se separa del logotipo*/
    text-align: center;
    align-self: center; /*centra el contenido con igual espacio entre izquierda y derecha*/
}

.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem; /*la dimension de la parte de arriba a abajo la fuente*/
    color: var(--just-white);
}

.header--title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button{
    position: absolute; /*Podemos usar top, bottom, left, right para mover el contenedor o elemento en esas posiciones.*/
    left: calc(50% - 114px); /*posiciona el boton al centro. genera un calculo. se va al centro con el 50%. se toma el 50% del total del width del contenedor 229px*/
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none; /*quita los border predefinidos*/
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span{
    display: inline-block; /*span por default viene con inline */
    width: 13px;
    height: 8px;
    margin-left: 8px; 
    background-image: url(./assets/icons/down-arrow.svg);
}

main{
    width: 100%;
    min-width: 320px; /*el contendedor con color de fondo (off-white) no se rompa cuando se alcanzen resoluciones menores a esta.*/
    height: auto; /*el mismo contenido va a definir la altura del main*/
    background-color: var(--off-white);
}

.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px; /*le damos espacio arriba*/
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title{
    width: 90%;
    min-width: 288px; /*limita hasta donde se va a hacer tan pequeño*/
    max-width: 900px; /*no se va a hacer mas grande despues de 900px*/
    margin: 0 auto; /*se posiciona en el centro siempre*/
}

.main-exchange-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px; /*alejar la imagen del texto*/
    background-image: url(./assets/img/bitcoin.svg);
    background-size: cover; /*background-size sirve bastante para manejar de que manera queremos que se vea la imagen en el fondo.*/
    background-position: center; /*siempre sin importar el tamaño contenedor de la imagen tenemos visibilidad del centro de la imagen*/
    background-repeat: no-repeat; /*no replica la imagen*/

}

.main-exchange-container h2{
   margin-bottom: 30px;
   font-size: 2.4rem;
   font-weight: bold;
   line-height: 2.6rem;
   color: var(--black); 
}

.main-exchange-container p{
    margin-bottom: 38px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.main-currency-table,
.main-commission-table{
    width: 70%; /*La tabla no ocupa el 100% y la tabla esta dentro del contenedor, lo cual podria limitar el crecimiento*/
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}


.main-currency-table .currency-table--title,
.main-commission-table .commission-table--title{
    margin-bottom: 15px; /*separa la tabla del titulo*/
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.main-commission-table .commission-table--title{
    color: var(--secondary-blue);
}

.currency-table--container,
.commission-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table--container table,
.commission-table--container table{
    width: 100%;
    height: 100%; /*la tabla utilice todo el espacio del contenedor padre*/
}

.currency-table--container td,
.commission-table--container td{
    width: 50%;   /*cada uno de los datos ocupará el 50% de la tabla*/
    font-size: 1.6rem;
    font-weight: 600;
    list-style: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white)
}

.currency-table--container .table__top-left,
.commission-table--container .table__top-left{
    border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right,
.commission-table--container .table__top-right{
    border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left,
.commission-table--container .table__bottom-left{
    border-radius: 0 0 0 15px;
}
.currency-table--container .table__bottom-right,
.commission-table--container .table__bottom-right{
    border-radius: 0 0 15px 0;
}

.currency-table--container .table__right,
.commission-table--container .table__right{
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table--container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--date{
    width: max-content;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}

.commission-table--date{
    width: max-content; /*evitar el desbordamiento del texto*/
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-blue);
    border-radius: 8px;
}

.currency-table--date p,
.commission-table--date p{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--warm-black);
}

.main-product-detail{
    position: relative; /*delimita el movimiento del absolute*/
    width: 100%;
    min-width: 320px;
    height: auto; /*el contenido mismo marca la altura de la seccion*/
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.product-detail--batata-logo{
    position: absolute; /*va a buscar el primer elemento o contenedor padre relative para basarse de ahí. No respeta el espacio en el layout*/
    width: 40px;
    height: 25px;
    background-image: url(./assets/icons/batata.svg);
    top: -10px;
    left: calc(50% - 20px); /*Left: Alinea un elemento con referencia al lado izquierdo de nuestro contenedor.
    calc()(función): Nos permite realizar cálculos para determinar valores de propiedades CSS. 50%(parámetro): Representa la mitad del ancho del contenedor(para 320px, el 50% serían = 160px), lo cual alineará nuestro elemento 160px de izquierda(left) a derecha. 20px: Representan la mitad del ancho(width) de nuestro elemento, esto se hace con la finalidad de poder posicionarlo en el centro de nuestro contenedor.*/
    
}

.product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;

}

.product-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product-detail--title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem; /*alto de la fuente*/
    color: #808080;
}

.product-detail--card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail--card .icon-card
{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.clock{
    background-image: url(./assets/icons/clock.svg);
}

.eye{
    background-image: url(./assets/icons/eye.svg);
}

.dollar{
    background-image: url(./assets/icons/dollar-sign.svg);
}

.check{
    background-image: url(./assets/icons/check-circle.svg);
}
.product--card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product--card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 60vh;
    background-image: url(./assets/img/bitcoinbaby2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bitcoin-img-container h2{
    padding-top: 60px; 
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
}